.single-item{
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin-top: 1%;
    margin-right: 10%;
    margin-left: 2%;
    padding: .4rem;
    display: flex;   

}
.single-item>div{
    margin-left: 1rem;
}

#pager{
    margin-top: 1rem;
    margin-left: 2rem;
    
   

}
#pager >p{
    margin-left: 60%; 

}

#search{
    width: fit-content;
    margin-left: auto;
    margin-right: 2rem;
}
#search>input{
    height: 30px;
    margin: .5rem;
}
#search>button{
    margin-top: 1rem;
}

img{
    width: 50px;
    height: 50px;
}