<div id="form">
    <form  (ngSubmit)="login()" [formGroup]="loginDetails"  > 

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email Id" name="email" formControlName="email">

        </mat-form-field>
         <mat-error *ngIf="(email?.touched && email?.invalid && email?.errors?.['required'])">
             Email is required.
          </mat-error>
       
        <mat-form-field appearence="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput name="password" placeholder="Password" formControlName="password">

        </mat-form-field>
        <mat-error *ngIf="password?.touched && password?.errors?.['required']">
            Password is required.
         </mat-error>
      
       
       <button mat-raised-button color="primary" [disabled]="!loginDetails.valid" type="submit" >Login</button>


    </form>
</div>