#form{
    width: 40vw;
    background-color: gray;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

form{
    width: 100%;
    /* padding: 2%; */
    display: flex;
    flex-direction: column;
}
input{
    width: 100%;
    height: 50px;
}

button{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}