#main-container{
    background-color: azure;
    width: 100%;
    height: 100%;
    padding-top: 10%;
}

#card{

    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    margin-left: 20%;
    width: 40%;
    padding: 2%;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    
}